
.attribution { font-size: .6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Overpass", sans-serif;
    color: antiquewhite;
}
p {
    font-size: .9375rem;
}
.card-container, .thank-you-card {
    width: 17.1875rem;
    background-image: radial-gradient(circle at top,hsl(210, 23%, 15%)0%, hsl(212, 25%, 12%)100%);
    padding: 1.25rem;
    border-radius: 1rem;
}
.icon {
    background: hsl(213, 19%, 18%);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratings {
    display: flex;
    color: hsl(217, 12%, 63%);
    gap: 1rem;
    padding-bottom: .75rem;
}
.ratings-num {
    background: hsl(213, 19%, 18%);
    height: 2.625rem;
    width: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ratings-num:hover, .ratings-num.active {
    background-color: hsl(0, 100%, 100%);
    color: hsl(213, 19%, 18%);
}
.rating-heading, .thanku-heading {
    color: hsl(0, 100%, 100%);
}

.rating-para, .thanku-para {
    color: hsl(217, 12%, 63%);
    font-size: .75rem;
    text-align: center;
}
.thank-you-card{
    width: 18.75rem;
}

/* submit button */
button {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 62.4375rem;
    margin-top: .5rem;
    padding: .75rem 2.5rem;
    color: hsl(213, 19%, 18%);
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .0625rem;
    width: 100%;
}

.thank-you-card img {
    padding: .9375rem 4.875rem;
    width: 8em;
}

.selected-rating {
    color:hsl(25, 97%, 53%) ;
    text-align: center;
    font-size: .75rem;
    background-color:hsl(213, 19%, 18%);
    padding: .5rem 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.3);
    width: 10rem;
    margin: 0 auto;
}



.thanku-para {
    letter-spacing: .0313rem;
}